@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap');
html{
  font-family: 'Roboto Mono', monospace;
}

.container-box{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px;
}
.searchbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#language{
  width: 90%;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
}
#submit{
  background-color:rgb(0, 243, 81);
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 0px 5px 5px 0px;
}
.SubSearch {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(172, 172, 172);
  border-radius: 10px;
}
.SubSearch:hover{
    background-color: aquamarine;
}
.display{
  margin-top: 120px;
}

@media only screen and (max-width: 440px) {
  .container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-right: 5px;
  }
  #submit{
    background-color:rgb(0, 243, 81);
    border: 1px solid black;
    padding: 5px 3px;
    border-radius: 0px 5px 5px 0px;
    width: auto;
  }
}

@media only screen and (max-width: 360px) {
  .container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  #submit{
    background-color:rgb(0, 243, 81);
    border: 1px solid black;
    padding: 5px 3px;
    border-radius: 0px 5px 5px 0px;
    width: auto;
  }
}
